body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 768px) {

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }

}
